In [6]:
!ls

'ls' is not recognized as an internal or external command,
operable program or batch file.

In [7]:
!pwd

'pwd' is not recognized as an internal or external command,
operable program or batch file.

In [8]:
import pandas as pd
import numpy as np

In [9]:
#dir = r"/Users/admin/Documents/workspace/venv/New_Python_Classes/OnlineOrders_of_a_ecommerce_website.csv"
dir= r'\Users\Josey\Documents\pythonprojects\project1\OnlineOrders_of_a_ecommerce_website.csv'
df = pd.read_csv(dir)
df

,crawl_timestamp,product_name,product_category_tree,retail_price,discounted_price,brand
0,2016-03-25 22:59:23+00:00,Alisha Solid Women's Cycling Shorts,"[""Clothing >> Women's Clothing >> Lingerie, Sl...",999.0,379.0,Alisha
1,2016-03-25 22:59:23+00:00,FabHomeDecor Fabric Double Sofa Bed,"[""Furniture >> Living Room Furniture >> Sofa B...",32157.0,22646.0,FabHomeDecor
2,2016-03-25 22:59:23+00:00,AW Bellies,"[""Footwear >> Women's Footwear >> Ballerinas >...",999.0,499.0,AW
3,2016-03-25 22:59:23+00:00,Alisha Solid Women's Cycling Shorts,"[""Clothing >> Women's Clothing >> Lingerie, Sl...",699.0,267.0,Alisha
4,2016-03-25 22:59:23+00:00,Sicons All Purpose Arnica Dog Shampoo,"[""Pet Supplies >> Grooming >> Skin & Coat Care...",220.0,210.0,Sicons
...,...,...,...,...,...,...
8078,2016-03-05 12:31:04+00:00,Sinina Chanderi Embroidered Salwar Suit Dupatt...,"[""Clothing >> Women's Clothing >> Ethnic Wear ...",2980.0,1490.0,Sinina
8079,2016-03-05 12:31:04+00:00,Aarushi Fashion Chanderi Embroidered Salwar Su...,"[""Clothing >> Women's Clothing >> Ethnic Wear ...",2600.0,1300.0,Aarushi Fashion
8080,2016-03-05 12:31:04+00:00,"Ambika Lahenga Embroidered Lehenga, Choli and ...","[""Clothing >> Women's Clothing >> Ethnic Wear ...",39992.0,24995.0,Ambika Lahenga
8081,2016-03-05 12:31:04+00:00,Sinina Chanderi Embroidered Salwar Suit Dupatt...,"[""Clothing >> Women's Clothing >> Ethnic Wear ...",2000.0,1000.0,Sinina
8082,2016-03-05 12:31:04+00:00,Aarushi Fashion Silk Striped Salwar Suit Dupat...,"[""Clothing >> Women's Clothing >> Ethnic Wear ...",2800.0,1350.0,Aarushi Fashion

In [10]:
count_brand = len(df["brand"].unique())
count_brand

2587

In [11]:
len(str(count_brand))

4

In [12]:
2587
# 0001
# 0023
# 0457

2587

In [13]:
unique_info = []
for i in range(1, count_brand+1):
    if len(str(i)) == 1:
        x1 = f"000{i}"
        unique_info.append(x1)
    elif len(str(i)) == 2:
        x2 = f"00{i}"
        unique_info.append(x2)
    elif len(str(i)) == 3:
        x3 = f"0{i}"
        unique_info.append(x3)
    else:
        unique_info.append(i)


len(unique_info)

2587

In [75]:

# unique_id = [int(i) for i in unique_info]
#unique_id

2586

In [15]:
unique_brand = df["brand"].unique()
unique_brand

array(['Alisha', 'FabHomeDecor', 'AW', ..., 'Sinina', 'Aarushi Fashion',
       'Ambika Lahenga'], dtype=object)

In [16]:
len(unique_brand)

2587

In [17]:
map_brand_id = dict(zip(unique_brand,unique_info))
map_brand_id

{'Alisha': '0001',
 'FabHomeDecor': '0002',
 'AW': '0003',
 'Sicons': '0004',
 'Eternal Gandhi': '0005',
 'dilli bazaaar': '0006',
 'Ladela': '0007',
 'Carrel': '0008',
 'Freelance': '0009',
 'Style Foot': '0010',
 'dongli': '0011',
 'SWAGGA': '0012',
 'Kennel': '0013',
 'Madcaps': '0014',
 'Bengal Blooms': '0015',
 'Indcrown': '0016',
 'Shopmania': '0017',
 'Tiara Diaries': '0018',
 'KAJCI': '0019',
 'Packman': '0020',
 'Pick Pocket': '0021',
 'Angelfish': '0022',
 'Oye': '0023',
 'Nuride': '0024',
 'OM SHIVAKRITI': '0025',
 'Himmlisch': '0026',
 'Rapter': '0027',
 'Vishudh': '0028',
 'BuildTrack': '0029',
 'Skayvon': '0030',
 'MASARA': '0031',
 'Behringer': '0032',
 'Roadster': '0033',
 'Noor': '0034',
 'Libas': '0035',
 'HRS': '0036',
 'Vermello': '0037',
 'Ligans NY': '0038',
 'Elegance': '0039',
 'Liza': '0040',
 'Sathiyas': '0041',
 'SANTOSH ROYAL FASHION': '0042',
 'CASEDEAL': '0043',
 'Mario Gotze': '0044',
 'Jaipur Print': '0045',
 'Shilpi': '0046',
 'Babeezworld': '0047',
 'Redbag': '0048',
 'Proence': '0049',
 'ezyPRNT': '0050',
 'Traditions': '0051',
 'First Choice': '0052',
 'Eccellente': '0053',
 'Nechams': '0054',
 'JASPO': '0055',
 'Masaba for Magic fairy': '0056',
 'Momin Libas': '0057',
 'ACM': '0058',
 'A R ENTERPRISES': '0059',
 'ShoeBuzz': '0060',
 'Zed': '0061',
 'House This': '0062',
 'womaniya': '0063',
 'Taj Pearl': '0064',
 'Bento': '0065',
 'Wake Up Competition': '0066',
 'Cellbazaar': '0067',
 'Dressberry': '0068',
 'Mast & Harbour': '0069',
 'JQR': '0070',
 'Sisel': '0071',
 'Knight Ace': '0072',
 'Great Art': '0073',
 'Indistar': '0074',
 'Glacier': '0075',
 'Zoe Marciano': '0076',
 'Asics': '0077',
 'Escan': '0078',
 'Nine Maternity Wear': '0079',
 'Kleio': '0080',
 'Skipper': '0081',
 'Mizuno': '0082',
 'Turbo': '0083',
 'Stamin': '0084',
 'Pure Source': '0085',
 'Asian Gems & Jewels': '0086',
 'Kings': '0087',
 'Avsar': '0088',
 'Nishtaa': '0089',
 'Slim': '0090',
 'Eshoppee': '0091',
 'Karatcraft': '0092',
 'WearYourShine by PCJ': '0093',
 'BlueStone': '0094',
 'Clara': '0095',
 'Living World by Home Stop': '0096',
 'Regular Fit': '0097',
 'KuberBox': '0098',
 'CaratLane': '0099',
 'Karigaari': '0100',
 'Totta': '0101',
 'Araanz by Tribhovandas Bhimji Zaveri Delhi': '0102',
 'Jewels Of Jaipur': '0103',
 'JDX': '0104',
 'DailyObjects': '0105',
 'Kiara Jewellery': '0106',
 'Ishtaa': '0107',
 'Navaksha': '0108',
 'Riva Carpets': '0109',
 'Allure': '0110',
 'G-Luck': '0111',
 'Wise Guys': '0112',
 'Kundali': '0113',
 'Indian Gems And Jewells': '0114',
 'Myesquire': '0115',
 'IskiUski': '0116',
 'H E Creations': '0117',
 'Jacknjewel': '0118',
 'JacknJewel': '0119',
 'Zenescope Entertainment': '0120',
 'Twilight Creations': '0121',
 'Dungri India Craft': '0122',
 'Newworld': '0123',
 'Hariom Enterprises': '0124',
 'BFT': '0125',
 'Lamy': '0126',
 'Medimix': '0127',
 'American-Elm': '0128',
 'LG': '0129',
 'Raymond': '0130',
 'Furst': '0131',
 'KalaBhawan': '0132',
 'Serebroarts': '0133',
 'Sunrise': '0134',
 'Jayanti sarees': '0135',
 'JMD': '0136',
 'Mom and Kid': '0137',
 'reckonon': '0138',
 'Zebra': '0139',
 'Devinez': '0140',
 "Kripa's": '0141',
 'ROSEMOORE': '0142',
 'Itiha': '0143',
 'Mynte': '0144',
 'TRESemme': '0145',
 'AKUP': '0146',
 'MohanJodero': '0147',
 'Burt s Bees': '0148',
 'D-Link': '0149',
 'Suave': '0150',
 'Dove': '0151',
 'Paul Mitchell': '0152',
 'RoQ': '0153',
 'BrandTrendz': '0154',
 'Crocs': '0155',
 'Com-Paint': '0156',
 'MERIL': '0157',
 'Asian Aura': '0158',
 'Niremo': '0159',
 'Aadyaa Collections': '0160',
 'INDRICKA': '0161',
 'Schtaron': '0162',
 "D'clair": '0163',
 'Herbal Jewellery': '0164',
 'Riot Jeans': '0165',
 'Mount Nano': '0166',
 'V4STYLES': '0167',
 'Carmity': '0168',
 'PHOCOS': '0169',
 'Dupli Color': '0170',
 'TAB91': '0171',
 'Trigcars': '0172',
 'HANSFOOTNFIT': '0173',
 'Selfiwear': '0174',
 'S9 WOMEN': '0175',
 'esoft': '0176',
 'Imported': '0177',
 'Pink Rose': '0178',
 'Autofurnish': '0179',
 'CSBS Sale': '0180',
 'i-gadgets': '0181',
 'DEEP FASHION': '0182',
 'Loreal': '0183',
 'FIla': '0184',
 'INDIANO': '0185',
 'BGS': '0186',
 'Proganix': '0187',
 'Rainfun': '0188',
 'Anno Dominii': '0189',
 'Lovely Chick': '0190',
 'Pavers England': '0191',
 'Wolfer': '0192',
 'Neo strike': '0193',
 'cm': '0194',
 'Galaxy': '0195',
 'C Kreul': '0196',
 'OASIS': '0197',
 'GOLDEN GLOBE': '0198',
 'Krg Enterprises': '0199',
 'Escoda': '0200',
 'Cookart': '0201',
 'Wardtrobe': '0202',
 'Mineral': '0203',
 'Zastraa': '0204',
 'LA ATTIRE': '0205',
 'Abony': '0206',
 'Corona': '0207',
 'Mode': '0208',
 'JRB': '0209',
 'Digni': '0210',
 'Fabiya': '0211',
 'Amadore': '0212',
 'medha': '0213',
 'Tullis': '0214',
 'prored': '0215',
 'Delberto': '0216',
 'vency creation': '0217',
 'Tuelip': '0218',
 'Uniross': '0219',
 'BURDY': '0220',
 'The Decor mart': '0221',
 'Avyak': '0222',
 'SD': '0223',
 'DOUBLE HORSE': '0224',
 'Crokrok': '0225',
 'Pearl': '0226',
 'CARBANAO': '0227',
 'Fuson': '0228',
 'Bike World': '0229',
 'Shoprider': '0230',
 'Bootwale': '0231',
 'N Five': '0232',
 'CANMP': '0233',
 'RYTHMX': '0234',
 'Dernier Wear': '0235',
 'Ajaero': '0236',
 'Brillare Science': '0237',
 'Mars': '0238',
 'Oranje': '0239',
 'Futaba': '0240',
 'Fabpoppy': '0241',
 'Lambency': '0242',
 'Shortkut enterprises': '0243',
 'Adidas': '0244',
 'CarSizzler': '0245',
 'Dinoimpex': '0246',
 'Aroma Care': '0247',
 'I Know': '0248',
 'STREET LONDON': '0249',
 'Ennoble': '0250',
 'Leebo': '0251',
 'KOHL': '0252',
 'Inc.5': '0253',
 'BOLLYWOOD ACCESSORY': '0254',
 'CHHOTE JANAB': '0255',
 'ANAND ARCHIES': '0256',
 'Bharatcraft': '0257',
 'Candy House': '0258',
 "Victoria's Secret": '0259',
 'addee': '0260',
 'VIVIANA': '0261',
 'Prime': '0262',
 'Jutecentral': '0263',
 'SKI': '0264',
 'Weldecor': '0265',
 'Foot Furnish': '0266',
 'VITAMINS': '0267',
 'HSFS': '0268',
 'PUSHCART': '0269',
 'Simitoes': '0270',
 'Asian': '0271',
 'Avon': '0272',
 'GAYATRI CREATIONS': '0273',
 'Caffeine': '0274',
 'VAGON': '0275',
 'Dutch Benson': '0276',
 'Pandora': '0277',
 'Garnet': '0278',
 'Blue Birds USA Homeware': '0279',
 'W.A.Y': '0280',
 'Lakos': '0281',
 'Blue Birds Usa Homeware': '0282',
 "Dr. Thapar's": '0283',
 'X-WELL': '0284',
 'GAJ IMPEX': '0285',
 'Speedwav': '0286',
 'FS Mini Klub': '0287',
 'Speedo': '0288',
 'SHEFFIELD CLASSIC': '0289',
 'DEBOCK': '0290',
 'Vitamins': '0291',
 'KE': '0292',
 'Kartique': '0293',
 'DARPAN': '0294',
 'Giorgio Armani': '0295',
 'Silvesto India': '0296',
 'Gehna': '0297',
 'Kirati': '0298',
 'florence9': '0299',
 'Vastrani': '0300',
 'Mothercare': '0301',
 'Steelseries': '0302',
 'VarEesha': '0303',
 'AND Designs': '0304',
 'Platex': '0305',
 'BONHEUR': '0306',
 'Stealodeal': '0307',
 'Zevrr': '0308',
 'Kitts N Nevis': '0309',
 'fashion bazar': '0310',
 'Sohardhastshilp': '0311',
 'Philigree': '0312',
 'Noritake': '0313',
 'Rastogi Handicrafts': '0314',
 'UMA TRADERS': '0315',
 'CraftGhar': '0316',
 'Malabar Gold and Diamonds': '0317',
 'Maped': '0318',
 'Dealcrox': '0319',
 'Action Shoes': '0320',
 'fourgee': '0321',
 'VIHA': '0322',
 'Rasav Jewels': '0323',
 'Reinvent': '0324',
 'BUMPKIN': '0325',
 'fashion point': '0326',
 'Frabjous': '0327',
 'Oner': '0328',
 'ENTEASE': '0329',
 'Puma': '0330',
 'PeepalComm': '0331',
 'BI': '0332',
 'Sumo': '0333',
 'Bubi': '0334',
 'Dolphin Product': '0335',
 'IPG': '0336',
 'bohocraft': '0337',
 'dgold': '0338',
 'Selfcare': '0339',
 'Treasure': '0340',
 'Dgold': '0341',
 'RAA': '0342',
 'poonamcreation': '0343',
 'CHINMAY KIDS': '0344',
 'CHKOKKO': '0345',
 'AdroitZ': '0346',
 'KooKoo Fashion': '0347',
 'Dispowear': '0348',
 'Voril Fashion': '0349',
 'couponsmall': '0350',
 'HEAVENLY': '0351',
 'Texco': '0352',
 'Linzina': '0353',
 'generic': '0354',
 'Plush': '0355',
 'Only': '0356',
 'YBC': '0357',
 'iWonder': '0358',
 '@home': '0359',
 'MayurShilpa': '0360',
 'American Swan': '0361',
 "Finger's": '0362',
 'TAMBAS': '0363',
 'Nordlich': '0364',
 'Gwyn lingerie': '0365',
 'SVT ADA COLLECTIONS': '0366',
 'GREENWICH': '0367',
 'Zadine': '0368',
 'Smart Wall Guru': '0369',
 'Love More': '0370',
 'Aerosoft': '0371',
 'Nike': '0372',
 'Souminie': '0373',
 'Opaleena': '0374',
 'Beebay': '0375',
 'Redesign': '0376',
 'Done By None': '0377',
 'Glitzy Galz': '0378',
 'AYMH': '0379',
 'YK': '0380',
 'Hemden': '0381',
 'Kombee': '0382',
 'ADIWALK': '0383',
 'NEWGEN TECH': '0384',
 'Viaan': '0385',
 'Parinaaz': '0386',
 'oxford': '0387',
 'Polki': '0388',
 'Xtremeonlinestore': '0389',
 'NIRLON': '0390',
 'Oleanna': '0391',
 'Decon': '0392',
 'Spangel Fashion': '0393',
 'SONIK': '0394',
 'Mee Mee': '0395',
 'The balm': '0396',
 'Vency creation': '0397',
 'Eureka.in': '0398',
 'knp enterprise': '0399',
 'Cross Fingers': '0400',
 'Hm International': '0401',
 'Craft Trade': '0402',
 'C&E': '0403',
 'Adt Saral': '0404',
 'PerfectBlue': '0405',
 'morpankh Enterprise': '0406',
 'Lakiya': '0407',
 'Hers by Herman': '0408',
 'UR Image': '0409',
 'salt n pepper': '0410',
 'Magical Knots': '0411',
 'ferari': '0412',
 'Tallenge': '0413',
 'Voylla': '0414',
 'NumBrave': '0415',
 'CREEDS': '0416',
 'Gold Dust': '0417',
 'Pruto': '0418',
 'ARIHANT': '0419',
 'Calvin Klein': '0420',
 'URBAN SHAUK': '0421',
 'Embibo': '0422',
 'SKY TRENDS GIFT': '0423',
 'KAVACi': '0424',
 'ACCESSOREEZ': '0425',
 'VK Jewels': '0426',
 'DWM': '0427',
 'appleofmyi': '0428',
 'SUNFLAME': '0429',
 'HugMe.fashion': '0430',
 'Diviniti': '0431',
 'Parv Collections': '0432',
 'Jaunty': '0433',
 'Vendee Fashion': '0434',
 'Pearls India': '0435',
 'Iron Crafts': '0436',
 'Dev Jewellery': '0437',
 'Exotic India': '0438',
 'Aapno Rajasthan': '0439',
 'ARK Creation': '0440',
 'Shri Shyam Baba Jewellers': '0441',
 'Mrignayaneei': '0442',
 'Vidhya Kangan': '0443',
 'Ayesha': '0444',
 'Paras': '0445',
 'Right Florist': '0446',
 'Snug Hug': '0447',
 'Sixthsense': '0448',
 'Shagun': '0449',
 'Joyeria Milan': '0450',
 'BeYOUtiful': '0451',
 'Black': '0452',
 'Galz4ever': '0453',
 'Ada Jewel': '0454',
 'Amba Handicraft': '0455',
 'Pawzone': '0456',
 'My Angel': '0457',
 'Adhira': '0458',
 'The Art Jewellery': '0459',
 'Seher': '0460',
 'Nexessories': '0461',
 'Adaa': '0462',
 'Trinketbag': '0463',
 'Sri Bansilal Pearls': '0464',
 'Creative Spinach': '0465',
 'Blissdrizzle': '0466',
 'SR Crafts': '0467',
 'Transcend': '0468',
 'Leaftrend': '0469',
 'FOCI': '0470',
 'E-Studio': '0471',
 'Handecor': '0472',
 'Just Women': '0473',
 'Green House': '0474',
 'Myint': '0475',
 'K&P': '0476',
 'Jazzup': '0477',
 'Lotusa': '0478',
 'Gift Island': '0479',
 'Radiant Bay': '0480',
 'G-MOS': '0481',
 'Samradhi': '0482',
 'Kasemantra': '0483',
 'Regular': '0484',
 'TUP': '0485',
 'Alexus': '0486',
 'kasemantra': '0487',
 'Kanu': '0488',
 'P.N.Gadgil Jewellers': '0489',
 'Jewels of Jaipur': '0490',
 'Poddar': '0491',
 'Unique Designes': '0492',
 'HOKO': '0493',
 'Kamakhya Jewels': '0494',
 'Gizmoz Customs': '0495',
 'Icon': '0496',
 'Ojasvi': '0497',
 'Rama': '0498',
 'Cloth Fusion': '0499',
 'VES': '0500',
 'Silkworm': '0501',
 'LinkedInLove': '0502',
 'Shop Rajasthan': '0503',
 'cotton leaf': '0504',
 'Gioiabazar': '0505',
 'El Sandlo': '0506',
 'Johareez': '0507',
 'HMO India': '0508',
 'Jewels5': '0509',
 'JewelHub': '0510',
 'AMZER': '0511',
 'Shiv Textile': '0512',
 'Tycab': '0513',
 'MOBILECOPS': '0514',
 'Jewelsnext': '0515',
 'Bestway': '0516',
 'Instyles': '0517',
 'Kapa': '0518',
 'Artisan Creation': '0519',
 'iAccy': '0520',
 'Goyal India': '0521',
 'Jewelhub': '0522',
 'UAG': '0523',
 'Brite': '0524',
 'Blanket Zone': '0525',
 'Bagru Crafts': '0526',
 'Mobilecops': '0527',
 'Jpearls': '0528',
 'Vheelocityin': '0529',
 'Indigocart': '0530',
 'EDGE PLUS': '0531',
 'Remtex Export': '0532',
 'Tradition India': '0533',
 'Royal': '0534',
 'CORA': '0535',
 'TWISHA': '0536',
 'Khadi': '0537',
 'TRENDIEZ': '0538',
 'V & B GALLERY': '0539',
 'Alark The Ethnic': '0540',
 'RETAIL SHOP INDIA': '0541',
 'YoudyCo': '0542',
 'X-Poz': '0543',
 'Nutrispa': '0544',
 'Nuteez': '0545',
 'domestiq': '0546',
 'Perfect': '0547',
 'Guardian': '0548',
 'Eternity': '0549',
 'BODYSENSE': '0550',
 'HIMGIRI': '0551',
 'Odoky': '0552',
 'Fashion Plus': '0553',
 'Samsung': '0554',
 'Stellar Collections': '0555',
 'Purple': '0556',
 'Pink': '0557',
 'White': '0558',
 'Brown': '0559',
 'Green': '0560',
 'Blue': '0561',
 'Maroon': '0562',
 'Black/ White': '0563',
 'Red': '0564',
 'Grey': '0565',
 'Royal Blue': '0566',
 'Light Pink': '0567',
 'Dark Pink': '0568',
 'Yellow': '0569',
 'Olive Green': '0570',
 'Navy': '0571',
 'Cream': '0572',
 'Beige': '0573',
 'Mehroon': '0574',
 'Skin': '0575',
 'Majenta': '0576',
 'Orange': '0577',
 'Multicolor': '0578',
 'red': '0579',
 'Sky Blue': '0580',
 'RED': '0581',
 'Light Blue': '0582',
 'Baby Pink': '0583',
 'Light Orange': '0584',
 'Light Brown': '0585',
 'Coffee': '0586',
 'PURPLE': '0587',
 'MAGENTA': '0588',
 'Dark Green': '0589',
 'SKIN': '0590',
 'Mauve': '0591',
 'Falsa': '0592',
 'Rouge Red': '0593',
 'Dark Red': '0594',
 'Black & Yellow': '0595',
 'Deep Lavender': '0596',
 'Peach': '0597',
 'Gold': '0598',
 'Carrot Pink': '0599',
 'N.Blue': '0600',
 'Firozy': '0601',
 'Neon Pink': '0602',
 'Carrot Red': '0603',
 'Vibrant Yellow': '0604',
 'Leopard Print': '0605',
 'Dark Grey': '0606',
 'Bold Black': '0607',
 'Light Green': '0608',
 'Multi': '0609',
 'Grey & White': '0610',
 'NavyBlue': '0611',
 'lavender-Black': '0612',
 'Rani': '0613',
 'Cherry': '0614',
 'Powder Blue': '0615',
 'Black Multi': '0616',
 'Rust': '0617',
 'Turquise': '0618',
 'Grey & Black': '0619',
 'Dark Blue': '0620',
 'Light Purple': '0621',
 'Magentta': '0622',
 'Grey Melange': '0623',
 'Green-Black': '0624',
 'LightPink': '0625',
 'Darkpink': '0626',
 'Light pink': '0627',
 'Peach Red': '0628',
 'Grey/ White': '0629',
 'Tillu Pillu': '0630',
 'SB RETAILS': '0631',
 'Saarah': '0632',
 'Empreus': '0633',
 'Aden & M': '0634',
 'diva boutique': '0635',
 'Bodycare': '0636',
 'Bottoms More': '0637',
 'Goodwill Impex': '0638',
 'C.E Collection': '0639',
 'Mactree': '0640',
 'JDK NOVELTY': '0641',
 'Liberty': '0642',
 "Khadim's": '0643',
 'IBALL': '0644',
 'Edel': '0645',
 'Rockshose': '0646',
 'Crazy Deal': '0647',
 'Brandvilla': '0648',
 'HK-Impex': '0649',
 'Fpc Creations': '0650',
 'Oggo Deo': '0651',
 'IBS': '0652',
 'Anuradha Art': '0653',
 '720 Armour': '0654',
 'GLAMWALK': '0655',
 'Estilo': '0656',
 'trustedsnap': '0657',
 'clickforsign': '0658',
 'Trendy Divva': '0659',
 'Vero Moda': '0660',
 'Avenue': '0661',
 'JUHI CREATIONS': '0662',
 'Lavennder': '0663',
 'Treppe': '0664',
 'Kanvas': '0665',
 'Nickolas': '0666',
 'Quoface': '0667',
 'Klaur Melbourne': '0668',
 "Vala'S": '0669',
 'Remix': '0670',
 'Clickforsign': '0671',
 'Omic': '0672',
 'AQUAPOLO': '0673',
 'induscraft': '0674',
 'O Baby': '0675',
 'kem Flow Gold': '0676',
 'Prachin': '0677',
 'WPM': '0678',
 'Filink': '0679',
 'Collectible India': '0680',
 'Recrafto': '0681',
 'Interio Crafts': '0682',
 'ESHOPITUDE': '0683',
 'FAX': '0684',
 'Gkidz': '0685',
 'Clench': '0686',
 'VRTYA': '0687',
 'LUMBER BOY': '0688',
 'Port': '0689',
 'FRENEMY': '0690',
 'BIKER BOYS': '0691',
 'Jon Pep': '0692',
 'TOUCHWOOD': '0693',
 'Chazer': '0694',
 'Leather chief': '0695',
 'HRX by Hrithik Roshan': '0696',
 'Feminine': '0697',
 'Micromax': '0698',
 'Comex': '0699',
 'SIESTA': '0700',
 'THELABELLIFE.com': '0701',
 'Hitway': '0702',
 'MAK': '0703',
 'Lilliput': '0704',
 'Gasser': '0705',
 'Coash': '0706',
 'ARMOIRE': '0707',
 'SoleThreads': '0708',
 'topolino': '0709',
 'Spa Culture': '0710',
 'Trend Notes': '0711',
 'EVER WEAR': '0712',
 'Crux&Hunter': '0713',
 'Zippy': '0714',
 'TIMBERLAKE': '0715',
 'Action': '0716',
 'Retina': '0717',
 'FLITE': '0718',
 'LAST BENCH': '0719',
 'Martini': '0720',
 'PI ZON': '0721',
 'BARESKIN': '0722',
 'benext': '0723',
 'Panit': '0724',
 'Marks & Spencer': '0725',
 'Saco': '0726',
 'Reevolution': '0727',
 'PURYS': '0728',
 'BELL': '0729',
 'keshar': '0730',
 'XEBAC': '0731',
 'Quilt India': '0732',
 'Rajrang': '0733',
 'Toffyhouse': '0734',
 'VDRIVE': '0735',
 'Carbanao': '0736',
 'Bond Beatz': '0737',
 'Oddy': '0738',
 'ortel': '0739',
 'ZORDEN': '0740',
 'AMCO': '0741',
 'ATIS AMCO': '0742',
 'WorldWearFootwear': '0743',
 'Holy Krishna': '0744',
 'Synergy': '0745',
 'Hand Art': '0746',
 'SHOPOJ': '0747',
 'SUPERMOD': '0748',
 'Shyam Fashion': '0749',
 'Ridhi-Impex': '0750',
 'Dark Image': '0751',
 'Zappy': '0752',
 'SHOPMANIA': '0753',
 'Toe Spring': '0754',
 'Goldcave': '0755',
 'Xerobic': '0756',
 'Ganga': '0757',
 'Trmpi': '0758',
 'VECTOR-X': '0759',
 'AAO+': '0760',
 'EYE GLASS': '0761',
 'HERDY': '0762',
 'Zyaden': '0763',
 'Elligator': '0764',
 'Shopizone': '0765',
 'Salwar Studio': '0766',
 'Craftcart': '0767',
 'Trendy Nuts': '0768',
 'SOS': '0769',
 'F-Loop': '0770',
 'Starsy': '0771',
 'Fanideaz': '0772',
 'Knotty Derby': '0773',
 'Hunny Bunny': '0774',
 'RPB': '0775',
 'Royal Seal Creations': '0776',
 'Japdan': '0777',
 'Style Buy Style': '0778',
 'Flat n Heels': '0779',
 'Funku Fashion': '0780',
 'Katalogue': '0781',
 'Desire': '0782',
 'Ocean': '0783',
 'Adorn': '0784',
 'craftland': '0785',
 'Sitaram': '0786',
 'Services Junction': '0787',
 'DICE': '0788',
 'Italian Fashion': '0789',
 'ZAIRE': '0790',
 'ANASAZI': '0791',
 'Four Paws': '0792',
 'Pittsburgh Polo Club': '0793',
 'Autoplus': '0794',
 'palito': '0795',
 'Satovira': '0796',
 'Omen': '0797',
 'Wajbee': '0798',
 'Carlos': '0799',
 'Texus': '0800',
 'Adino': '0801',
 'AutoGarh': '0802',
 'ESIDON': '0803',
 'Griiham': '0804',
 'Unique Collections': '0805',
 'Wisdom': '0806',
 'Big Mike s': '0807',
 'Saihan': '0808',
 'Lavie': '0809',
 "Mi Dulce An'ya": '0810',
 'Bhavya': '0811',
 'Kute Kids': '0812',
 'Invaders': '0813',
 'S Class': '0814',
 'MYRA': '0815',
 'cherry crumble california': '0816',
 'FATEN': '0817',
 'Yves Bertelin': '0818',
 'Allen Solly': '0819',
 'Peppermint Blues': '0820',
 'V9': '0821',
 'Metro Moulding Industries': '0822',
 'PIEXIM': '0823',
 'Dreamshomes': '0824',
 'Next Player': '0825',
 'Fotodiox Inc.': '0826',
 'Style World': '0827',
 'Kandyfloss': '0828',
 'Tryfa': '0829',
 'INVENTURE RETAIL': '0830',
 'Status Quo': '0831',
 'YOA': '0832',
 'Tucasa': '0833',
 'Valentine': '0834',
 'Brahmz': '0835',
 'NAVISHA': '0836',
 'Via Italia': '0837',
 'REAL': '0838',
 'Yashasvi': '0839',
 'MKB': '0840',
 'Toddla': '0841',
 'Baby Moshai': '0842',
 'My Little Lambs': '0843',
 'Snuggles': '0844',
 'Haier': '0845',
 'Fame16': '0846',
 'arnavs': '0847',
 'Technotech': '0848',
 'Twin Twine': '0849',
 'Yoshana': '0850',
 'I Ball': '0851',
 'Globe': '0852',
 'Maniac': '0853',
 'Abstract Mood': '0854',
 "Prrem's": '0855',
 'Oriflame': '0856',
 'Mustard': '0857',
 'FTCBAZAR': '0858',
 'Koolkids': '0859',
 'Romano': '0860',
 'chetan': '0861',
 'JayEnterprise': '0862',
 'Denim 86': '0863',
 'youniqueshop': '0864',
 'SAVON': '0865',
 'Being Trendy': '0866',
 'Tech Yug': '0867',
 'Hangrr': '0868',
 'FAB-FLASH': '0869',
 'Maveric': '0870',
 'Singh Xpress': '0871',
 'Brahaan BLUE TAG': '0872',
 'Ezone': '0873',
 'Purple Nasty': '0874',
 'The Design Factory': '0875',
 'Tatkim': '0876',
 'Richard Cole': '0877',
 'Livastar': '0878',
 'Cotton World': '0879',
 'Amantran Jewels': '0880',
 'ARISE': '0881',
 'Welwear': '0882',
 'Clear Face': '0883',
 'Saar': '0884',
 'YGS': '0885',
 'Crocslite': '0886',
 'Pari & Prince': '0887',
 'Hustler': '0888',
 'Majik': '0889',
 'CUBA': '0890',
 'Packy Poda': '0891',
 'Laadli Boutique': '0892',
 "D'steek": '0893',
 'Zingalalaa': '0894',
 'Laadli Bouitique': '0895',
 'Very Me': '0896',
 'Playhood': '0897',
 'Intex': '0898',
 'BASRA': '0899',
 'Smart Choice Furniture': '0900',
 'Aasaan': '0901',
 'OceaN': '0902',
 'Reebok': '0903',
 'Mayor': '0904',
 'Amardeep': '0905',
 'Smartpro': '0906',
 'Uptownie Lite': '0907',
 'Limerence': '0908',
 'Gifts By Meeta': '0909',
 'Graco': '0910',
 'ZeroKaata': '0911',
 'Nova': '0912',
 'Anmol': '0913',
 'SAF': '0914',
 'SUNPLEON': '0915',
 'Kraftnation': '0916',
 'Think3': '0917',
 'Fashion18': '0918',
 'Awesome': '0919',
 'ocean': '0920',
 'Clovia': '0921',

In [69]:
# df["id"] = df["brand"].apply(map_brand_id)
# df

df["id"] = df["brand"].map(map_brand_id).fillna('Unknown')
df["id"]

0       0001
1       0002
2       0003
3       0001
4       0004
        ...
8078    2585
8079    2586
8080    2587
8081    2585
8082    2586
Name: id, Length: 8083, dtype: object

In [19]:
df

,crawl_timestamp,product_name,product_category_tree,retail_price,discounted_price,brand,id
0,2016-03-25 22:59:23+00:00,Alisha Solid Women's Cycling Shorts,"[""Clothing >> Women's Clothing >> Lingerie, Sl...",999.0,379.0,Alisha,0001
1,2016-03-25 22:59:23+00:00,FabHomeDecor Fabric Double Sofa Bed,"[""Furniture >> Living Room Furniture >> Sofa B...",32157.0,22646.0,FabHomeDecor,0002
2,2016-03-25 22:59:23+00:00,AW Bellies,"[""Footwear >> Women's Footwear >> Ballerinas >...",999.0,499.0,AW,0003
3,2016-03-25 22:59:23+00:00,Alisha Solid Women's Cycling Shorts,"[""Clothing >> Women's Clothing >> Lingerie, Sl...",699.0,267.0,Alisha,0001
4,2016-03-25 22:59:23+00:00,Sicons All Purpose Arnica Dog Shampoo,"[""Pet Supplies >> Grooming >> Skin & Coat Care...",220.0,210.0,Sicons,0004
...,...,...,...,...,...,...,...
8078,2016-03-05 12:31:04+00:00,Sinina Chanderi Embroidered Salwar Suit Dupatt...,"[""Clothing >> Women's Clothing >> Ethnic Wear ...",2980.0,1490.0,Sinina,2585
8079,2016-03-05 12:31:04+00:00,Aarushi Fashion Chanderi Embroidered Salwar Su...,"[""Clothing >> Women's Clothing >> Ethnic Wear ...",2600.0,1300.0,Aarushi Fashion,2586
8080,2016-03-05 12:31:04+00:00,"Ambika Lahenga Embroidered Lehenga, Choli and ...","[""Clothing >> Women's Clothing >> Ethnic Wear ...",39992.0,24995.0,Ambika Lahenga,2587
8081,2016-03-05 12:31:04+00:00,Sinina Chanderi Embroidered Salwar Suit Dupatt...,"[""Clothing >> Women's Clothing >> Ethnic Wear ...",2000.0,1000.0,Sinina,2585
8082,2016-03-05 12:31:04+00:00,Aarushi Fashion Silk Striped Salwar Suit Dupat...,"[""Clothing >> Women's Clothing >> Ethnic Wear ...",2800.0,1350.0,Aarushi Fashion,2586

In [20]:
# df[df["id"] == "Unknown"]

In [21]:
id_df = df[["brand", "id"]]
id_df

                brand    id
0              Alisha  0001
1        FabHomeDecor  0002
2                  AW  0003
3              Alisha  0001
4              Sicons  0004
...               ...   ...
8078           Sinina  2585
8079  Aarushi Fashion  2586
8080   Ambika Lahenga  2587
8081           Sinina  2585
8082  Aarushi Fashion  2586

[8083 rows x 2 columns]

In [22]:
## Start ######

In [23]:
df.shape

(8083, 7)

In [24]:
df.columns

Index(['crawl_timestamp', 'product_name', 'product_category_tree',
       'retail_price', 'discounted_price', 'brand', 'id'],
      dtype='object')

In [25]:
# This is to check for datatype information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8083 entries, 0 to 8082
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   crawl_timestamp        8083 non-null   object
 1   product_name           8083 non-null   object
 2   product_category_tree  8083 non-null   object
 3   retail_price           8083 non-null   float64
 4   discounted_price       8083 non-null   float64
 5   brand                  8083 non-null   object
 6   id                     8083 non-null   object
dtypes: float64(2), object(5)
memory usage: 442.2+ KB

In [26]:
# Check for missing values
df.isna().sum()

crawl_timestamp          0
product_name             0
product_category_tree    0
retail_price             0
discounted_price         0
brand                    0
id                       0
dtype: int64

In [27]:
## get counts of distinct brands b
len(df["brand"].unique())

2587

In [28]:
# count all brands 
df["brand"].value_counts()

brand
Karatcraft              211
Black                   164
White                   155
DailyObjects            144
Radiant Bay             132
                       ...
Tks                       1
urban monk creations      1
narayan export            1
Right                     1
Ambika Lahenga            1
Name: count, Length: 2587, dtype: int64

In [29]:
### Brand Coounts ######

brand_counts_df = df["brand"].value_counts().reset_index()
brand_counts_df

                     brand  count
0               Karatcraft    211
1                    Black    164
2                    White    155
3             DailyObjects    144
4              Radiant Bay    132
...                    ...    ...
2582                   Tks      1
2583  urban monk creations      1
2584        narayan export      1
2585                 Right      1
2586        Ambika Lahenga      1

[2587 rows x 2 columns]

In [30]:
brand_counts_df_df = pd.merge(brand_counts_df, id_df, on="brand")
brand_counts_df_df

                     brand  count    id
0               Karatcraft    211  0092
1               Karatcraft    211  0092
2               Karatcraft    211  0092
3               Karatcraft    211  0092
4               Karatcraft    211  0092
...                    ...    ...   ...
8078                   Tks      1  1125
8079  urban monk creations      1  1123
8080        narayan export      1  1122
8081                 Right      1  1121
8082        Ambika Lahenga      1  2587

[8083 rows x 3 columns]

In [31]:
brand_counts_df_df = brand_counts_df_df.drop_duplicates()
brand_counts_df_df

                     brand  count    id
0               Karatcraft    211  0092
211                  Black    164  0452
375                  White    155  0558
530           DailyObjects    144  0105
674            Radiant Bay    132  0480
...                    ...    ...   ...
8078                   Tks      1  1125
8079  urban monk creations      1  1123
8080        narayan export      1  1122
8081                 Right      1  1121
8082        Ambika Lahenga      1  2587

[2587 rows x 3 columns]

In [32]:
brand_counts_df_df["brand"] = brand_counts_df_df["brand"].str.lower()

C:\Users\Josey\AppData\Local\Temp\ipykernel_41508\2659167508.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  brand_counts_df_df["brand"] = brand_counts_df_df["brand"].str.lower()

In [33]:
brand_counts_df_df

                     brand  count    id
0               karatcraft    211  0092
211                  black    164  0452
375                  white    155  0558
530           dailyobjects    144  0105
674            radiant bay    132  0480
...                    ...    ...   ...
8078                   tks      1  1125
8079  urban monk creations      1  1123
8080        narayan export      1  1122
8081                 right      1  1121
8082        ambika lahenga      1  2587

[2587 rows x 3 columns]

In [79]:
!pwd

'pwd' is not recognized as an internal or external command,
operable program or batch file.

In [ ]:
\Users\Josey\Documents\pythonprojects\project1\

In [78]:
#brand_counts_df_df.to_csv("brand_counts_TB.csv", index=False)

In [83]:
brand_counts_df_df.to_csv(r"\Users\Josey\Documents\pythonprojects\project1\brand_counts_TB.csv", index=False)

In [36]:
brand_counts_df_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2587 entries, 0 to 8082
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   brand   2587 non-null   object
 1   count   2587 non-null   int64
 2   id      2587 non-null   object
dtypes: int64(1), object(2)
memory usage: 80.8+ KB

In [37]:
brand_counts_df[brand_counts_df["brand"] == "Alisha"]

      brand  count
222  Alisha      6

In [38]:
# A More manual Approach
data_dict = {}

brand_arr = list(df["brand"].values)
for i in brand_arr:
    data_dict[i] = brand_arr.count(i)

count_df = pd.DataFrame([data_dict])
count_df = count_df.T
count_df = count_df.reset_index()
count_df.columns = ["names", "counts"]
count_df.sort_values(by="counts", ascending=False)

                     names  counts
91              Karatcraft     211
451                  Black     164
557                  White     155
104           DailyObjects     144
479            Radiant Bay     132
...                    ...     ...
1124                   Tks       1
1122  urban monk creations       1
1121        narayan export       1
1120                 Right       1
2586        Ambika Lahenga       1

[2587 rows x 2 columns]

In [39]:
# How Transform data
""" 
- Handle product category tree column
- Handle stamptime column
"""

' \n- Handle product category tree column\n- Handle stamptime column\n'

In [40]:
df.columns

type(df['product_category_tree'].values[0])

str

In [41]:
df['product_category_tree'].values[0]

'["Clothing >> Women\'s Clothing >> Lingerie, Sleep & Swimwear >> Shorts >> Alisha Shorts >> Alisha Solid Women\'s Cycling Shorts"]'

In [42]:
len(df['product_category_tree'].values[0])

128

In [43]:
# for i in df['product_category_tree'].values[0]:
#     print(i)

In [44]:
a = "abc-dc"

In [45]:
# lst_data = eval(df['product_category_tree'].values[0])
# for i in lst_data:
#     print(i.split(">>"))

In [46]:
# lst_data = eval(df['product_category_tree'].values[0])
# for i in lst_data:
#     data = i.split(">>")
#     for i in data:
#         print(i)

In [47]:
df.shape[0]

8083

In [48]:
df.columns

Index(['crawl_timestamp', 'product_name', 'product_category_tree',
       'retail_price', 'discounted_price', 'brand', 'id'],
      dtype='object')

In [49]:
data_arr = []
id_data = []
for n in range(0, df.shape[0]):
    lst_data = eval(df['product_category_tree'].values[n])
    unique_id = df["id"].values[n]
    id_data.append(unique_id)
    for i in lst_data:
        splitter = i.split(">>")
        data_arr.append(splitter)

In [50]:
df_new = pd.DataFrame(data_arr)
df_id = pd.DataFrame(id_data)
df_id.columns = ["id"]
df_new
df_new.columns = ["items", "item_class", "item_subclass", "products",
 "product_brand", "product_subbrand", "product_subclass", "product_brand_item"]

In [51]:
df_new

,items,item_class,item_subclass,products,product_brand,product_subbrand,product_subclass,product_brand_item
0,Clothing,Women's Clothing,"Lingerie, Sleep & Swimwear",Shorts,Alisha Shorts,Alisha Solid Women's Cycling Shorts,None,None
1,Furniture,Living Room Furniture,Sofa Beds & Futons,FabHomeDecor Fabric Double Sofa Bed (Finish C...,None,None,None,None
2,Footwear,Women's Footwear,Ballerinas,AW Bellies,None,None,None,None
3,Clothing,Women's Clothing,"Lingerie, Sleep & Swimwear",Shorts,Alisha Shorts,Alisha Solid Women's Cycling Shorts,None,None
4,Pet Supplies,Grooming,Skin & Coat Care,Shampoo,Sicons All Purpose Arnica Dog Shampoo (500 ml),None,None,None
...,...,...,...,...,...,...,...,...
8078,Clothing,Women's Clothing,Ethnic Wear,Fabric,Dress Material,Sinina Dress Material,Sinina Chanderi Embroidered Salwar Suit Dupat...,None
8079,Clothing,Women's Clothing,Ethnic Wear,Fabric,Dress Material,Aarushi Fashion Dress Material,Aarushi Fashion Chanderi Embroidered Salwar S...,None
8080,Clothing,Women's Clothing,Ethnic Wear,Lehenga Cholis,Lehengas,Ambika Lahenga Lehengas,"Ambika Lahenga Embroidered Lehenga, Choli and...",None
8081,Clothing,Women's Clothing,Ethnic Wear,Fabric,Dress Material,Sinina Dress Material,Sinina Chanderi Embroidered Salwar Suit Dupat...,None
8082,Clothing,Women's Clothing,Ethnic Wear,Fabric,Dress Material,Aarushi Fashion Dress Material,Aarushi Fashion Silk Striped Salwar Suit Dupa...,None

In [52]:
df_id

        id
0     0001
1     0002
2     0003
3     0001
4     0004
...    ...
8078  2585
8079  2586
8080  2587
8081  2585
8082  2586

[8083 rows x 1 columns]

In [53]:
new_df = pd.concat([df_new, df_id], axis=1)
new_df

,items,item_class,item_subclass,products,product_brand,product_subbrand,product_subclass,product_brand_item,id
0,Clothing,Women's Clothing,"Lingerie, Sleep & Swimwear",Shorts,Alisha Shorts,Alisha Solid Women's Cycling Shorts,None,None,0001
1,Furniture,Living Room Furniture,Sofa Beds & Futons,FabHomeDecor Fabric Double Sofa Bed (Finish C...,None,None,None,None,0002
2,Footwear,Women's Footwear,Ballerinas,AW Bellies,None,None,None,None,0003
3,Clothing,Women's Clothing,"Lingerie, Sleep & Swimwear",Shorts,Alisha Shorts,Alisha Solid Women's Cycling Shorts,None,None,0001
4,Pet Supplies,Grooming,Skin & Coat Care,Shampoo,Sicons All Purpose Arnica Dog Shampoo (500 ml),None,None,None,0004
...,...,...,...,...,...,...,...,...,...
8078,Clothing,Women's Clothing,Ethnic Wear,Fabric,Dress Material,Sinina Dress Material,Sinina Chanderi Embroidered Salwar Suit Dupat...,None,2585
8079,Clothing,Women's Clothing,Ethnic Wear,Fabric,Dress Material,Aarushi Fashion Dress Material,Aarushi Fashion Chanderi Embroidered Salwar S...,None,2586
8080,Clothing,Women's Clothing,Ethnic Wear,Lehenga Cholis,Lehengas,Ambika Lahenga Lehengas,"Ambika Lahenga Embroidered Lehenga, Choli and...",None,2587
8081,Clothing,Women's Clothing,Ethnic Wear,Fabric,Dress Material,Sinina Dress Material,Sinina Chanderi Embroidered Salwar Suit Dupat...,None,2585
8082,Clothing,Women's Clothing,Ethnic Wear,Fabric,Dress Material,Aarushi Fashion Dress Material,Aarushi Fashion Silk Striped Salwar Suit Dupa...,None,2586

In [54]:
df_df_new = pd.merge(new_df, id_df, on="id")
df_df_new

,items,item_class,item_subclass,products,product_brand,product_subbrand,product_subclass,product_brand_item,id,brand
0,Clothing,Women's Clothing,"Lingerie, Sleep & Swimwear",Shorts,Alisha Shorts,Alisha Solid Women's Cycling Shorts,None,None,0001,Alisha
1,Clothing,Women's Clothing,"Lingerie, Sleep & Swimwear",Shorts,Alisha Shorts,Alisha Solid Women's Cycling Shorts,None,None,0001,Alisha
2,Clothing,Women's Clothing,"Lingerie, Sleep & Swimwear",Shorts,Alisha Shorts,Alisha Solid Women's Cycling Shorts,None,None,0001,Alisha
3,Clothing,Women's Clothing,"Lingerie, Sleep & Swimwear",Shorts,Alisha Shorts,Alisha Solid Women's Cycling Shorts,None,None,0001,Alisha
4,Clothing,Women's Clothing,"Lingerie, Sleep & Swimwear",Shorts,Alisha Shorts,Alisha Solid Women's Cycling Shorts,None,None,0001,Alisha
...,...,...,...,...,...,...,...,...,...,...
259818,Clothing,Women's Clothing,Ethnic Wear,Lehenga Cholis,Lehengas,Ambika Lahenga Lehengas,"Ambika Lahenga Embroidered Lehenga, Choli and...",None,2587,Ambika Lahenga
259819,Clothing,Women's Clothing,Ethnic Wear,Fabric,Dress Material,Sinina Dress Material,Sinina Chanderi Embroidered Salwar Suit Dupat...,None,2585,Sinina
259820,Clothing,Women's Clothing,Ethnic Wear,Fabric,Dress Material,Sinina Dress Material,Sinina Chanderi Embroidered Salwar Suit Dupat...,None,2585,Sinina
259821,Clothing,Women's Clothing,Ethnic Wear,Fabric,Dress Material,Aarushi Fashion Dress Material,Aarushi Fashion Silk Striped Salwar Suit Dupa...,None,2586,Aarushi Fashion
259822,Clothing,Women's Clothing,Ethnic Wear,Fabric,Dress Material,Aarushi Fashion Dress Material,Aarushi Fashion Silk Striped Salwar Suit Dupa...,None,2586,Aarushi Fashion

In [55]:
Transformed_tb = df_df_new.drop_duplicates()
Transformed_tb

,items,item_class,item_subclass,products,product_brand,product_subbrand,product_subclass,product_brand_item,id,brand
0,Clothing,Women's Clothing,"Lingerie, Sleep & Swimwear",Shorts,Alisha Shorts,Alisha Solid Women's Cycling Shorts,None,None,0001,Alisha
6,Furniture,Living Room Furniture,Sofa Beds & Futons,FabHomeDecor Fabric Double Sofa Bed (Finish C...,None,None,None,None,0002,FabHomeDecor
10,Footwear,Women's Footwear,Ballerinas,AW Bellies,None,None,None,None,0003,AW
21,Pet Supplies,Grooming,Skin & Coat Care,Shampoo,Sicons All Purpose Arnica Dog Shampoo (500 ml),None,None,None,0004,Sicons
23,Eternal Gandhi Super Series Crystal Paper Weig...,None,None,None,None,None,None,None,0005,Eternal Gandhi
...,...,...,...,...,...,...,...,...,...,...
259811,"Areon Luxurious Fragrance Long Lasting Car,Hom...",None,None,None,None,None,None,None,2584,Areon
259814,Clothing,Women's Clothing,Ethnic Wear,Fabric,Dress Material,Sinina Dress Material,Sinina Chanderi Embroidered Salwar Suit Dupat...,None,2585,Sinina
259816,Clothing,Women's Clothing,Ethnic Wear,Fabric,Dress Material,Aarushi Fashion Dress Material,Aarushi Fashion Chanderi Embroidered Salwar S...,None,2586,Aarushi Fashion
259818,Clothing,Women's Clothing,Ethnic Wear,Lehenga Cholis,Lehengas,Ambika Lahenga Lehengas,"Ambika Lahenga Embroidered Lehenga, Choli and...",None,2587,Ambika Lahenga
259821,Clothing,Women's Clothing,Ethnic Wear,Fabric,Dress Material,Aarushi Fashion Dress Material,Aarushi Fashion Silk Striped Salwar Suit Dupa...,None,2586,Aarushi Fashion

In [56]:
# Transformed_tb.to_csv("/Users/admin/Documents/workspace/brand_categories.csv", index=False)

In [84]:
Transformed_tb.to_csv(r"\Users\Josey\Documents\pythonprojects\project1\brand_categories.csv", index=False)

In [57]:
Transformed_tb.columns

Index(['items', 'item_class', 'item_subclass', 'products', 'product_brand',
       'product_subbrand', 'product_subclass', 'product_brand_item', 'id',
       'brand'],
      dtype='object')

In [58]:
df["product_category_tree"].iloc[0]

'["Clothing >> Women\'s Clothing >> Lingerie, Sleep & Swimwear >> Shorts >> Alisha Shorts >> Alisha Solid Women\'s Cycling Shorts"]'

In [59]:
#  Another Method to handle This:
# def handle_CatProd():
#         data_arr = []
#         lst_data = list(df['product_category_tree'])
#         for i in lst_data:
#                 splitter = i.split(">>")
#                 data_arr.append(splitter)

#         return data_arr


# handle_CatProd()[0][0:-1]

In [60]:
column_arr = []
for j in df["crawl_timestamp"].values:
    data = j.split(" ")
    column_arr.append(data)

df_time = pd.DataFrame(column_arr)
df_time.columns = ["date", "time"]

df_time

            date            time
0     2016-03-25  22:59:23+00:00
1     2016-03-25  22:59:23+00:00
2     2016-03-25  22:59:23+00:00
3     2016-03-25  22:59:23+00:00
4     2016-03-25  22:59:23+00:00
...          ...             ...
8078  2016-03-05  12:31:04+00:00
8079  2016-03-05  12:31:04+00:00
8080  2016-03-05  12:31:04+00:00
8081  2016-03-05  12:31:04+00:00
8082  2016-03-05  12:31:04+00:00

[8083 rows x 2 columns]

In [61]:

df_time["date"] = pd.to_datetime(df_time["date"])
df_time["time"] = pd.to_datetime(df_time["time"])
#  To convert to time format it has to be in datetime already .... 
# Assuming df_time is your DataFrame and 'time_column' is the name of the column containing time values
df_time['time'] = pd.to_datetime(df_time['time'], format='%H:%M:%S').dt.time

C:\Users\Josey\AppData\Local\Temp\ipykernel_41508\3051620415.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_time["time"] = pd.to_datetime(df_time["time"])

In [62]:
df_time

           date      time
0    2016-03-25  22:59:23
1    2016-03-25  22:59:23
2    2016-03-25  22:59:23
3    2016-03-25  22:59:23
4    2016-03-25  22:59:23
...         ...       ...
8078 2016-03-05  12:31:04
8079 2016-03-05  12:31:04
8080 2016-03-05  12:31:04
8081 2016-03-05  12:31:04
8082 2016-03-05  12:31:04

[8083 rows x 2 columns]

In [88]:
new_df_time= pd.concat([df_time, id_df], axis=1)
new_df_time.drop_duplicates
new_df_time

           date      time            brand    id
0    2016-03-25  22:59:23           Alisha  0001
1    2016-03-25  22:59:23     FabHomeDecor  0002
2    2016-03-25  22:59:23               AW  0003
3    2016-03-25  22:59:23           Alisha  0001
4    2016-03-25  22:59:23           Sicons  0004
...         ...       ...              ...   ...
8078 2016-03-05  12:31:04           Sinina  2585
8079 2016-03-05  12:31:04  Aarushi Fashion  2586
8080 2016-03-05  12:31:04   Ambika Lahenga  2587
8081 2016-03-05  12:31:04           Sinina  2585
8082 2016-03-05  12:31:04  Aarushi Fashion  2586

[8083 rows x 4 columns]

In [89]:
new_df_time.columns

Index(['date', 'time', 'brand', 'id'], dtype='object')

In [90]:
new_df_time.to_csv(r"\Users\Josey\Documents\pythonprojects\project1\date_time.csv", index=False)

In [63]:
df_time.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8083 entries, 0 to 8082
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    8083 non-null   datetime64[ns]
 1   time    8083 non-null   object
dtypes: datetime64[ns](1), object(1)
memory usage: 126.4+ KB

In [64]:
df

,crawl_timestamp,product_name,product_category_tree,retail_price,discounted_price,brand,id
0,2016-03-25 22:59:23+00:00,Alisha Solid Women's Cycling Shorts,"[""Clothing >> Women's Clothing >> Lingerie, Sl...",999.0,379.0,Alisha,0001
1,2016-03-25 22:59:23+00:00,FabHomeDecor Fabric Double Sofa Bed,"[""Furniture >> Living Room Furniture >> Sofa B...",32157.0,22646.0,FabHomeDecor,0002
2,2016-03-25 22:59:23+00:00,AW Bellies,"[""Footwear >> Women's Footwear >> Ballerinas >...",999.0,499.0,AW,0003
3,2016-03-25 22:59:23+00:00,Alisha Solid Women's Cycling Shorts,"[""Clothing >> Women's Clothing >> Lingerie, Sl...",699.0,267.0,Alisha,0001
4,2016-03-25 22:59:23+00:00,Sicons All Purpose Arnica Dog Shampoo,"[""Pet Supplies >> Grooming >> Skin & Coat Care...",220.0,210.0,Sicons,0004
...,...,...,...,...,...,...,...
8078,2016-03-05 12:31:04+00:00,Sinina Chanderi Embroidered Salwar Suit Dupatt...,"[""Clothing >> Women's Clothing >> Ethnic Wear ...",2980.0,1490.0,Sinina,2585
8079,2016-03-05 12:31:04+00:00,Aarushi Fashion Chanderi Embroidered Salwar Su...,"[""Clothing >> Women's Clothing >> Ethnic Wear ...",2600.0,1300.0,Aarushi Fashion,2586
8080,2016-03-05 12:31:04+00:00,"Ambika Lahenga Embroidered Lehenga, Choli and ...","[""Clothing >> Women's Clothing >> Ethnic Wear ...",39992.0,24995.0,Ambika Lahenga,2587
8081,2016-03-05 12:31:04+00:00,Sinina Chanderi Embroidered Salwar Suit Dupatt...,"[""Clothing >> Women's Clothing >> Ethnic Wear ...",2000.0,1000.0,Sinina,2585
8082,2016-03-05 12:31:04+00:00,Aarushi Fashion Silk Striped Salwar Suit Dupat...,"[""Clothing >> Women's Clothing >> Ethnic Wear ...",2800.0,1350.0,Aarushi Fashion,2586

In [65]:
new_df = df.drop(["crawl_timestamp", "product_category_tree"], axis=1)
new_df

,product_name,retail_price,discounted_price,brand,id
0,Alisha Solid Women's Cycling Shorts,999.0,379.0,Alisha,0001
1,FabHomeDecor Fabric Double Sofa Bed,32157.0,22646.0,FabHomeDecor,0002
2,AW Bellies,999.0,499.0,AW,0003
3,Alisha Solid Women's Cycling Shorts,699.0,267.0,Alisha,0001
4,Sicons All Purpose Arnica Dog Shampoo,220.0,210.0,Sicons,0004
...,...,...,...,...,...
8078,Sinina Chanderi Embroidered Salwar Suit Dupatt...,2980.0,1490.0,Sinina,2585
8079,Aarushi Fashion Chanderi Embroidered Salwar Su...,2600.0,1300.0,Aarushi Fashion,2586
8080,"Ambika Lahenga Embroidered Lehenga, Choli and ...",39992.0,24995.0,Ambika Lahenga,2587
8081,Sinina Chanderi Embroidered Salwar Suit Dupatt...,2000.0,1000.0,Sinina,2585
8082,Aarushi Fashion Silk Striped Salwar Suit Dupat...,2800.0,1350.0,Aarushi Fashion,2586

In [85]:
new_df.columns

Index(['product_name', 'retail_price', 'discounted_price', 'brand', 'id'], dtype='object')

In [91]:
new_df.to_csv(r"\Users\Josey\Documents\pythonprojects\project1\Pricing_TB.csv", index=False)

In [66]:
added_df = pd.concat([df_time, new_df], axis=1)
added_df

,date,time,product_name,retail_price,discounted_price,brand,id
0,2016-03-25,22:59:23,Alisha Solid Women's Cycling Shorts,999.0,379.0,Alisha,0001
1,2016-03-25,22:59:23,FabHomeDecor Fabric Double Sofa Bed,32157.0,22646.0,FabHomeDecor,0002
2,2016-03-25,22:59:23,AW Bellies,999.0,499.0,AW,0003
3,2016-03-25,22:59:23,Alisha Solid Women's Cycling Shorts,699.0,267.0,Alisha,0001
4,2016-03-25,22:59:23,Sicons All Purpose Arnica Dog Shampoo,220.0,210.0,Sicons,0004
...,...,...,...,...,...,...,...
8078,2016-03-05,12:31:04,Sinina Chanderi Embroidered Salwar Suit Dupatt...,2980.0,1490.0,Sinina,2585
8079,2016-03-05,12:31:04,Aarushi Fashion Chanderi Embroidered Salwar Su...,2600.0,1300.0,Aarushi Fashion,2586
8080,2016-03-05,12:31:04,"Ambika Lahenga Embroidered Lehenga, Choli and ...",39992.0,24995.0,Ambika Lahenga,2587
8081,2016-03-05,12:31:04,Sinina Chanderi Embroidered Salwar Suit Dupatt...,2000.0,1000.0,Sinina,2585
8082,2016-03-05,12:31:04,Aarushi Fashion Silk Striped Salwar Suit Dupat...,2800.0,1350.0,Aarushi Fashion,2586

In [67]:
# --- addded df Table 
# --- df_new table

In [68]:
#---------Assignment--------------
# Everything about price and costing should be on its own table...
# Date and time table should added to the database

In [ ]:
#For pricing and costing table we already have the dataframe so we go ahead to convert to a csv file format,which we would further upload into our database

In [ ]:
#new_df.columns         ---------#Pricing & Cost dataframe

In [ ]:
#new_df.to_csv(r"\Users\Josey\Documents\pythonprojects\project1\Pricing_TB.csv", index=False)

In [ ]:
#for Date time table
#first we concatenate two tables together

In [ ]:
#new_df_time= pd.concat([df_time, id_df], axis=1)
#new_df_time.drop_duplicates
#new_df_time

In [ ]:
#new_df_time.columns

In [ ]:
#new_df_time.to_csv(r"\Users\Josey\Documents\pythonprojects\project1\date_time.csv", index=False)