In [ ]:
# Quadratic Equation = -b +/- (b**2 - 4aC)**(1/2)/2a

In [7]:
a = float(input("enter a: "))
b = float(input("enter b: "))
c = float(input("enter c: "))

print(f"a = {a}, b ={b}, c ={c}")

b_square = (b**2)
num_value = 4*a*c
x1 = round((-b + (b_square - num_value)**(1/2))/(2*a), 3)
x2 = round((-b - (b_square - num_value)**(1/2))/(2*a), 3)

if (b_square - num_value) > 0:
    print(f"This is a real solution {x1}, {x2}")
elif (b_square - num_value) == 0:
    print(f"this will give one real solution {x1}, {x2}")
else:
     print(f"this will give a complex number {x1}, {x2}")


# DRY ---> Dont repeat yourself

a = 3.0, b =9.0, c =1.0
This is a real solution -0.116, -2.884

In [23]:
# List and Indexing and Tuples

lst_arr = [1, 5, 10, "james", "uber", False]

# print(lst_arr[3])
# print(lst_arr[-2])

print(lst_arr[0:3])

print(lst_arr[2:-2])

print(lst_arr[:-3])

[1, 5, 10]
[10, 'james']
[1, 5, 10]

In [ ]:
# Index is used to get the position of an element

In [18]:
# Print all elements after james
postn = lst_arr.index("james")
print(lst_arr[postn+1:])

['uber', False]

In [20]:
# print all elements before james
postn = lst_arr.index("james")
print(lst_arr[:postn])

[1, 5, 10]

In [ ]:
#  List methods --->
#  index()
#  join()
#  len()
#  append()

In [6]:
# len(lst_arr)

In [37]:

date_value = ['2024', '04', '07']
join_to_str = "/".join(date_value)
print(join_to_str)

2024/04/07

In [45]:
lst_arr = [1, 5, 10, "james", "uber", False]
# A forloop list out the content of an array in an iterative format
for i in lst_arr:
    print(i)

1
5
10
james
uber
False

In [44]:
lst_arr = [1, 5, 10, "james", "uber", False]

number_arr = []

for i in lst_arr:
    if type(i) == int or type(i) == float:
        pass
    else:
        number_arr.append(i)

print(number_arr)

['james', 'uber', False]

In [48]:
arr = [10, 12, 16]
print(sum(arr))

38

In [61]:
a = [4, 10, 11]
a.append(17)
print(a)

[4, 10, 11, 17]

In [76]:
arr = ["5", 10, 12, "8", 16]
arr_sum = []
for i in arr:
    num = float(i)
    arr_sum.append(num)

print(sum(arr_sum))

51.0

In [62]:
arr = ["5", 10, 12, "8", 16]
new_arr = []
for i in arr:
    if type(i) == int or type(i) == float:
        new_arr.append(i)
    else:
        num = float(i)
        new_arr.append(num)


print(new_arr)
# print(sum(new_arr))

[10, 12, 16]

In [73]:
# b = ["5", 10, 12, "8", 16]
# print(b)

b = ["11", "13", "apple"]
d = "-".join(b)
print(d)
# print(type(d))
# print(d)

11-13-apple

In [93]:
arr1 = [10, 11, 8]
arr2 = [16, 13, 19]

d = arr1 + arr2
print(d)

[10, 11, 8, 16, 13, 19]

In [111]:
# sum numeric values together

arr = ["5", 10, 12, "8", 16, "obi", False]
arr_num = []

for i in arr:
    if type(i) == int or type(i) == float:
        arr_num.append(i)

    elif type(i) == bool:
        pass

    
    elif type(i) == str:
        try:
            num = eval(i)
            arr_num.append(num)
        except Exception as e:
            pass

print(sum(arr_num))

51

In [ ]:
# for i in arr:
#     if type(i) == int or type(i) == float or 

arr = ["james", "caleb", "matt", "tobi", "paulina"]

# 1. count each value value in the arr and return an array that has a numerical count of the values
# 2.  [5, 5, 4, 4, 2, 7]

In [89]:
arr = ["james", "caleb", "matt", "tobi", "paulina"]
for i in arr:
    arr1=len(arr[0])
    print(arr1)

5
5
5
5
5

In [107]:
arr = ["james", "caleb", "matt", "tobi", "paulina"]
new_arr = []
for i in arr:
    arr1=len(arr[0])
    new_arr.append(arr1)
    break
for i in arr:
        arr1=len(arr[1])
        new_arr.append(arr1)
        break
for i in arr:
        arr1=len(arr[2])
        new_arr.append(arr1)
        break
for i in arr:
        arr1=len(arr[3])
        new_arr.append(arr1)
        break
for i in arr:
        arr1=len(arr[4])
        new_arr.append(arr1)
        break
print(new_arr)

[5, 5, 4, 4, 7]

In [109]:
arr = ["james", "caleb", "matt", "tobi", "paulina"]
new_arr = []
for i in arr:
    if type(i) == str:
        num = eval(i)
        arr1=len(arr[num])
        new_arr.append(arr1)
        break
#for i in arr:
       # arr1=len(arr[1])
        #new_arr.append(arr1)
        #break
print(new_arr)

NameError: name 'james' is not defined

In [119]:
arr = int(["james", "caleb", "matt", "tobi", "paulina"])
#arr[3]
print (len(arr[:]))

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'list'

In [131]:
arr = ["james", "caleb", "matt", "tobi", "paulina"]
count2=  []
for i in arr:
        go=len(i)
        count2.append(go)
print(count2)

[5, 5, 4, 4, 7]

:

In [128]:
# Assignment -------
arr = ["james", "caleb", "matt", "tobi", "paulina"]
x = 0
#arr_count=[]
for i in arr:  
        if i == 0:  
            name_count=len(arr[0])
            #arr_count.append(name_count)
        break
print(name_count)
for i in arr:
        if i == 1:
            name_count=len(arr[2])
        break
print(name_count)
for i in arr:
        if i == 2:
            name_count=len(arr[3])
        break
print(name_count)

5
5
5

In [49]:
# Assignment -------
arr =float( ["james", "caleb", "matt", "tobi", "paulina"])
arr_count=[]
for i in arr: 
    if arr[i] == "james":    
        name_count=len(arr[0])
        arr_count.append(name_count)
    elif arr["caleb"]== 1:
        name_count+=len(arr[1])
        arr_count.append(name_count)
    elif i == 2:
        name_count=len(arr[2])
        arr_count.append(name_count)
    elif i == 3:
        name_count=len(arr[3])
        arr_count.append(name_count)
    elif i == 4:
        name_count=len(arr[4])
        arr_count.append(name_count)
        
    
print(arr_count)

TypeError: float() argument must be a string or a real number, not 'list'

In [110]:
# print(5+10+12+ 8+ 16)

51

In [107]:
num = "False"
new_num = eval(num)
print(type(new_num))

<class 'bool'>

In [77]:
# import datetime


# time_value = str(datetime.datetime.now())
# arr = time_value.split()
# print(arr[0].split("-"))
# # print(type(time_value))

In [83]:
# pi*(r**2)
# radius = 50
# radius_circle = round(math.pi * (radius**2), 3)
# radius_circle


# def sum_arr(arr):
#     new_arr = []
#     for i in arr:
#         if type(i) == int or type(i) == float:
#             new_arr.append(i)
#         else:
#             num = float(i)
#             new_arr.append(num)
#     return sum(new_arr)


# arr = ["5", 10, 12, "8", 16]
# print(sum_arr(arr))

51.0

In [87]:
arr = [6, 10, 20, 11]

x = 0
for i in arr:
    x = i + x

print(f"without in built function: {x}")
print(f"with inbuilt function {sum(arr)}")

without in built function: 47
with inbuilt function 47

In [90]:
# counter = 0
# for i in arr:
#     # print(i)
#     counter = i + counter
# print(counter)

47