In [ ]:
# 1. Mean 
# 2. Median
# 3. Mode

In [5]:
# Mean
arr = [1, 2, 5, 6]
mean_data = sum(arr)/len(arr)
print(mean_data)

3.5

In [28]:
arr = [2, 3, 5, 8, 9, 10, 11, 16]
arr.sort()

mid_index = int(len(arr)/2)
print("--------- Index values------------")
print(mid_index)
print(mid_index - 1)

print("Results -----------------")
print(arr[4])
print(arr[3])

--------- Index values------------
4
3
Results -----------------
9
8

In [31]:
#  Median
# - Sort (highest to lowest or lowest to highest)
# - Get the value in the middle if the count is odd
# - Get both values in the middle if the array count is even the divide by 2

#  Dry ==== Do not repeat yourself {Concept}

arr = [10, 3, 5, 9, 11, 8, 16]
arr.sort()
mid_point = int(len(arr)/2)
mid1 = int(mid_point)
mid2 = int(mid1 - 1)

print(f"This is the array : {arr}")

if len(arr)%2 == 0:
    print("even")
    median_value = sum([arr[mid1], arr[mid2]])/2
    print(f"the result of the median value is {median_value}")

elif len(arr)%2 != 0:
    print("The count of the array is an odd number")
    print("--" * 10)
    median_value = arr[mid1]
    print(f"the result of the median value is {median_value}")

else:
    print("Cant process the arrays..check array again")

This is the array : [3, 5, 8, 9, 10, 11, 16]
The count of the array is an odd number
--------------------
the result of the median value is 9

In [42]:
#  Create dictionary first 

arr = [3, 5, 3, 5, 10, 3, 3, 6, 11]

dict_data = {}

for i in arr:
    dict_data[i] = arr.count(i)

print(dict_data)

arr_max = []
for i, j in dict_data.items():
    arr_max.append(j)

arr_max.sort()
max_value = arr_max[-1]
print(max_value)

for a, b in dict_data.items():
    if b == max_value:
        print(f"The modal value is: {a}")

#  Key Value pairs

{3: 4, 5: 2, 10: 1, 6: 1, 11: 1}
4
The modal value is: 3

In [48]:
#  Get Modal Values of an array 
arr = [11, 11, 6, 6, 10, 8, 8, 8]

dict_data = {}
arr_max = []
modal_values = []
for i in arr:
    dict_data[i] = arr.count(i)
for i, j in dict_data.items():
    arr_max.append(j)
arr_max.sort()
max_value = arr_max[-1]
for a, b in dict_data.items():
    if b == max_value:
        modal_values.append(a)

print(modal_values)

[8]

In [ ]:
#  Assigment 

#  ALGORITHM -- step step process of solving a probem
# ---- BIG O Notation ---- 

#  arr = [2, 5, 21, 10, 5, 8]

# - write a program that can get the min value in the arr
# - write a program that can get the maximum value in the arr


# dont use : sort()
# dont use : min() and max() functions



# array_names = ["beauty", "chikodi", "mathew", "femi"]
#  Get the count of each of the name and save the with count in a dictionary

In [12]:
#------------Assignment-1-----------------------
arr = [2, 5, 21, 10, 5, 8]

# - write a program that can get the min value in the arr
# - write a program that can get the maximum value in the arr
        
start= arr[0]

for i in arr:
    if i > start:
        start = i
print(f"max number is", start)
for i in arr:
    if i < start: 
        start = i
print(f" min number is", start)

max number is 21
 min number is 2

In [22]:
#-----------Assignment 2--------------------------
array_names = ["beauty", "chikodi", "mathew", "femi"]
#  Get the count of each of the name and save the name with count in a dictionary
arr_count=[]
dict_a={}
for i in array_names:
    num=len(i)
    arr_count.append(num)
for i in range(0,len(array_names)):
    dict_a=dict(zip(array_names,arr_count))
print(dict_a)
print(type(dict_a))

{'beauty': 6, 'chikodi': 7, 'mathew': 6, 'femi': 4}
<class 'dict'>

In [50]:
#  Dictionaries ------ 

names = {"john":"data scientist", "lloyd":"farmer", "clinton":"Engineer", "pauline":"doctor"}
arr = [{"john":"data scientist", "lloyd":"farmer", "clinton":"Engineer", "pauline":"doctor"}]
tup = ({"john":"data scientist", "lloyd":"farmer", "clinton":"Engineer", "pauline":"doctor"})
dict_dict = {"people": {"john":"data scientist", "lloyd":"farmer", "clinton":"Engineer", "pauline":"doctor"}}

In [59]:
# print(type(dict_dict))

names["prince"] = "farmer"

In [60]:
print(names)

{'john': 'data scientist', 'lloyd': 'farmer', 'clinton': 'Engineer', 'pauline': 'doctor', 'prince': 'farmer'}

In [61]:
for key, values in names.items():
    if values == "farmer":
        print(key)

lloyd
prince

In [16]:
names_arr = ["james", "caleb", "tony", "jennifer"]
age_arr = [30, 34, 56, 29]
dct = {}

for i in range(0, len(names_arr)):
    dct[names_arr[i]] = age_arr[i]

print(dct)

{'james': 30, 'caleb': 34, 'tony': 56, 'jennifer': 29}

In [70]:
import pandas as pd
dict_data = {"names":["john", "jude", "matt"], "score":[10, 21, 80]}
test_df = pd.DataFrame(dict_data)
test_df

  names  score
0  john     10
1  jude     21
2  matt     80

In [76]:
import pandas as pd

df = pd.DataFrame([dct])

df_df = df.T
df_df =  df_df.reset_index()
df_df.columns = ["names", "ages"]
df_df

      names  ages
0     james    30
1     caleb    34
2      tony    56
3  jennifer    29