In [111]:
#  Arrange the names in the array in descending order...

In [112]:
test_list = ["peter", "paulina", "maxy", "mattiz", "gomez"]
print(test_list)

['peter', 'paulina', 'maxy', 'mattiz', 'gomez']

In [101]:
# what you need to know about append
# - Append only takes one data type at a time

In [113]:
counts = []
for n in test_list:
    counts.append(len(n))

print(counts)

[5, 7, 4, 6, 5]

In [114]:
print(test_list)
print(counts)

['peter', 'paulina', 'maxy', 'mattiz', 'gomez']
[5, 7, 4, 6, 5]

In [104]:
# Anothers sets of list methods
# sort()
# reverse()

In [115]:
#  Sort and Reverse values in the order you want

counts.sort()
counts.reverse()
print(counts)

[7, 6, 5, 5, 4]

In [129]:
# for j in counts:
#     print(j)

In [126]:
print(test_list)

['peter', 'paulina', 'maxy', 'mattiz', 'gomez']

In [121]:
# Comapre values to see the results 

for j in counts:
    for n in test_list:
        if len(n) == j:
            print(n, j)

paulina 7
mattiz 6
peter 5
gomez 5
peter 5
gomez 5
maxy 4

In [122]:
#  Append results into a tuple
arr = []
for j in counts:
    for n in test_list:
        if len(n) == j:
            arr.append((n, j))

In [123]:
print(arr)

[('paulina', 7), ('mattiz', 6), ('peter', 5), ('gomez', 5), ('peter', 5), ('gomez', 5), ('maxy', 4)]

In [125]:
#  Create dataFrame and drop duplicates...
import pandas as pd

df = pd.DataFrame(arr, columns=["name", "names_count"])
df = df.drop_duplicates()
df

      name  names_count
0  paulina            7
1   mattiz            6
2    peter            5
3    gomez            5
6     maxy            4

In [ ]:
#  Explanation

In [ ]:
#  Forget about dictionary for now....
# dict_data = {}
# for j in counts:
#     for n in test_list:
#         if len(n) == j:
#             dict_data[n] = j
# print(dict_data)

In [ ]:
test_list = ["peter", "paulina", "maxy", "mattiz", "gomez", "be", "bensolalison", "chukwuemeka"]

In [ ]:
counts = []
arr = []


for n in test_list:
    counts.append(len(n))
counts.sort()
# counts.reverse()
for j in counts:
    for n in test_list:
        if len(n) == j:
            arr.append((n, j))

print(arr)

[('be', 2), ('maxy', 4), ('peter', 5), ('gomez', 5), ('peter', 5), ('gomez', 5), ('mattiz', 6), ('paulina', 7), ('chukwuemeka', 11), ('bensolalison', 12)]

In [ ]:
#  Basic concept of nested forloops

a = [2, 3, 5, 6]
b = [7, 9, 11, 1, 9, 10]

for i in a:
    for n in b:
        print(i, n)

2 7
2 9
2 11
2 1
2 9
2 10
3 7
3 9
3 11
3 1
3 9
3 10
5 7
5 9
5 11
5 1
5 9
5 10
6 7
6 9
6 11
6 1
6 9
6 10

In [ ]:
print(counts)
print(test_list)

[2, 4, 5, 5, 6, 7, 11, 12]
['peter', 'paulina', 'maxy', 'mattiz', 'gomez', 'be', 'bensolalison', 'chukwuemeka']

In [ ]:
counts = []
arr = []


for n in test_list:
    counts.append(len(n))
counts.sort()
# counts.reverse()
for j in counts:
    for n in test_list:
        if len(n) == j:
            arr.append((n, j))

print(arr)

[('be', 2), ('maxy', 4), ('peter', 5), ('gomez', 5), ('peter', 5), ('gomez', 5), ('mattiz', 6), ('paulina', 7), ('chukwuemeka', 11), ('bensolalison', 12)]

In [ ]:
n_list = ["peter", "paulina", "maxy", "mattiz", "gomez"]
arr_counter = []
# ascending order


for i in n_list:
    arr_counter.append(len(i))

arr_counter.sort()
print(arr_counter)

for a in n_list:
    for b in arr_counter:
        if len(a) == b:
            print(a, b)

[4, 5, 5, 6, 7]
peter 5
peter 5
paulina 7
maxy 4
mattiz 6
gomez 5
gomez 5

In [ ]:
# (y+d+8)(x+7)
# y(x+7)+d(x+7)+8(x+7)

In [ ]:
# import pandas as pd

# df = pd.DataFrame(arr)
# df.columns = ["name", "name_counts"]
# df

In [ ]:
# arr_values

# # 2 + [6, 7, 9]
# # 7 + [7, 9, 5]
# # 10 + [9, 5]
# # 2 + [5]


# Strings and string Manipulations

In [133]:
b = "jade"
a = "bayo"
print(a, b)

bayo jade

In [135]:
d = "community"
d[0:5]

# - strings can be indexed

'commu'

In [148]:
k = "tangine"
k[1:]

'angine'

In [149]:
#  Replace t with m
k = "tangine"
index_value = k.index("t")
# print(index_value)

new_k = "m" + k[index_value+1:]
new_k

0

'mangine'

In [153]:
arr_names = ["james", "tams", "katie", "perry_lav"]
ele1 = arr_names[0]
print(ele1)
new_name = "J" + ele1[1:]
print(new_name)

james
James

In [158]:
for i in arr_names:
    new_caps = i[0].upper() + i[1:]
    print(new_caps)

James
Tams
Katie
Perry_lav

In [166]:
arr_names = ["james", "tams", "katie", "perry_lav"]
# [jameS, tamS, katiE, perry_laV]


arr1 = [1, 4, 6, 9]
arr2 = [5, 10, 11, 8]

# [6, 14, 17, 17] = total_sum = 34+20 = 54

In [172]:
# Solution

arr_names = ["james", "tams", "katie", "perry_lav"]
new_arr = []
for name in arr_names:
    res = name[:-1] + name[-1].upper()
    new_arr.append(res)

print(new_arr)

['jameS', 'tamS', 'katiE', 'perry_laV']

In [178]:
arr1 = [1, 4, 6, 9]
arr2 = [5, 10, 11, 8]

if len(arr1) == len(arr2):
    sum_count = 0
    for j in range(0, len(arr1)):
        add_arr = arr1[j] + arr2[j]
        sum_count = add_arr + sum_count
    print(sum_count)
    # print("use range")
else:
    print("cant use range")

54

In [180]:
arr1 = [1, 4, 6, 9]
arr2 = [5, 10, 11, 8]
sum_arr = []

if len(arr1) == len(arr2):
    for j in range(0, len(arr1)):
        add_arr = arr1[j] + arr2[j]
        sum_arr.append(add_arr)
        
    # print("use range")
else:
    print("cant use range")

print(sum(sum_arr))

54

In [ ]:
# : Hint :
n = 0
for n in arr:
    x = n + x
print(n)

In [ ]:
# regex

In [165]:

a = "domi/kal/peter"
l = a.split("/")
print(l)

['domi', 'kal', 'peter']

In [159]:
# d[0] = "J"
# print(d)