In [1]:
arr = ["james", "caleb", "matt", "tobi", "paulina"]
# print(arr)

['james', 'caleb', 'matt', 'tobi', 'paulina']

In [4]:
counts = []

for i in arr:
    counter = len(i)
    counts.append(counter)

print(arr)
print(counts)

['james', 'caleb', 'matt', 'tobi', 'paulina']
[5, 5, 4, 4, 7]

In [28]:
#  List and Tuples

lstr = ["abigail", "johnson", "simi", "abigail"]
lstr[0] = "peter"
lstr[-1] = "peter"
print(lstr)

['peter', 'johnson', 'simi', 'peter']

In [ ]:
# Tuples do not support item/element assignmnet 
# But lists do .....

In [32]:
lstr = ["abigail", "johnson", "abigail", "simi", "abigail"]

In [33]:
a = lstr.index("abigail")
print(a)

0

In [36]:
# Enumerate


for n in enumerate(lstr):
    print(n)

(0, 'abigail')
(1, 'johnson')
(2, 'abigail')
(3, 'simi')
(4, 'abigail')

In [47]:
lstr = ["abigail", "johnson", "abigail", "simi", "abigail"]

for a, b in enumerate(lstr):
    print(a,b)

0 abigail
1 johnson
2 abigail
3 simi
4 abigail

In [39]:
list_abg = []
for a, b in enumerate(lstr):
    if b == "abigail":
        list_abg.append(a)

print(list_abg)

[0, 2, 4]

In [41]:
# Replace Abigail with peter

for i in list_abg:
    lstr[i] = "Peter"
print(lstr)

['Peter', 'johnson', 'Peter', 'simi', 'Peter']

In [42]:
lstr = ["abigail", "johnson", "abigail", "simi", "abigail"]
list_abg = []
for a, b in enumerate(lstr):
    if b == "abigail":
        list_abg.append(a)


for i in list_abg:
    lstr[i] = "Peter"
print(lstr)
# print(list_abg)

['Peter', 'johnson', 'Peter', 'simi', 'Peter']

In [49]:
lstr = ["abigail", "johnson", "abigail", "simi", "abigail"]
for a, b in enumerate(lstr):
    if b == "abigail":
        lstr[a] = "Peter"
print(lstr)

['Peter', 'johnson', 'Peter', 'simi', 'Peter']

In [50]:
b = 5
a = b
c = ["10", 6, True]

# Container holding a data type...

lst = ["tope", "doyin", "chioma"]
print(f"these are the names of our future leaders ={lst}")

these are the names of our future leaders =['tope', 'doyin', 'chioma']

In [131]:
# tupl = (1, 5, 10)
# tupl[0]

test_list = ["peter", "paulina", "maxy", "mattiz", "gomez"]
counts_arr = []
for i in test_list:
    counts = len(i)
    counts_arr.append(counts)
print(counts_arr)

[5, 7, 4, 6, 5]

In [117]:
print(test_list)
print(counts_arr)

['peter', 'paulina', 'maxy', 'mattiz', 'gomez']
[5, 7, 4, 6, 5]

In [125]:
dict_data = dict(zip(test_list, counts_arr))
dict_data

{'peter': 5, 'paulina': 7, 'maxy': 4, 'mattiz': 6, 'gomez': 5}

In [ ]:
#  Sorting WHEN WE GET TO dICTIONARY mANIPULATIONS.......

# sort_list = sorted(dict_data.items(), key=lambda x:x[1])
# sort_list

[('maxy', 4), ('peter', 5), ('gomez', 5), ('mattiz', 6), ('paulina', 7)]

In [ ]:
#  --------

In [1]:
test_list = ["peter", "paulina", "maxy", "mattiz", "gomez"]
counts_arr = []
for i in test_list:
    counts = len(i)
    counts_arr.append(counts)

counts_arr.sort()
counts_arr.reverse()

for n in range(0, len(test_list)):
    print(test_list[n], counts_arr[n])
# print(counts_arr)

peter 7
paulina 6
maxy 5
mattiz 5
gomez 4

In [1]:
arr1 = [1,4,6,9]
arr2 = [5,10,11,8]
arr3 = []

for i in arr1, x in arr2:
    if i == x:
            #sum = i + x
            #arr3.append((sum))
            print(i + x)

10
20
22
16

In [1]:
#-----------Assignment----------
first_name= ["joy","mary","dave","moses"]
sur_name=["iya","ofor","okoro","john"]

#for i in  first_name:
full_name= dict( zip(sur_name, first_name))
print(full_name)

{'iya': 'joy', 'ofor': 'mary', 'okoro': 'dave', 'john': 'moses'}

In [75]:
for i in range(0, len(test_list)):
    if counts_arr[i] == len(test_list[i]):
        print(counts_arr[i],test_list[i])

In [12]:
import pandas as pd

In [54]:
df = pd.DataFrame([arr, counts])
new_df = df.T
new_df.columns = ["names", "name_counts"]
new_df

     names name_counts
0    james           5
1    caleb           5
2     matt           4
3     tobi           4
4  paulina           7

In [61]:
new_df.sort_values(by="name_counts", ascending=False)

     names name_counts
4  paulina           7
0    james           5
1    caleb           5
2     matt           4
3     tobi           4

In [10]:
import pandas as pd

In [20]:
new_arr = dict(zip(arr, counts))
print(new_arr)


df2 = pd.DataFrame([new_arr])
df2 = df2.T
df3 = df2.reset_index()
df3.columns = ["names", "names_count"]
df3

{'james': 5, 'caleb': 5, 'matt': 4, 'tobi': 4, 'paulina': 7}

     names  names_count
0    james            5
1    caleb            5
2     matt            4
3     tobi            4
4  paulina            7